# How to Replace Values on Specific Columns in Pandas
To replace values on specific columns in a Pandas DataFrame, you can use the replace method.
The replace method takes two arguments: the old value and the new value.
    You can specify the old and new values as a scalar, a list, a dictionary, or a regular expression.

Here’s the basic syntax of the replace method:

df.replace(old_value, new_value, inplace=True)
The old_value argument can be a scalar, a list, a dictionary, or a regular expression. 
If it’s a scalar, Pandas will replace all occurrences of this value with the new_value.
If it’s a list or a dictionary, Pandas will replace all occurrences of the values in the list or
dictionary with the corresponding new_value. 
If it’s a regular expression, Pandas will replace all occurrences that match the regular expression with the new_value.

The new_value argument can be a scalar or a dictionary. 
If it’s a scalar, Pandas will replace all occurrences of the old_value with this value.
If it’s a dictionary, Pandas will replace all occurrences of the keys in the dictionary 
with the corresponding values.

The inplace=True argument specifies that the changes should be made to the DataFrame in place, without creating a new copy.

Let’s see some examples of how to use the replace method to replace values on specific columns.

Example 1: Replace a Scalar Value on a Specific Column
Suppose you have a DataFrame with a column named “gender” that contains the values “Male” and “Female”. 
You want to replace all occurrences of “Male” with “M” and all occurrences of “Female” with “F”. Here’s how you can do it:

In [1]:
import pandas as pd

df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie'],
                   'age': [25, 30, 35],
                   'gender': ['Male', 'Female', 'Male']})

df.replace('Male', 'M', inplace=True)
df.replace('Female', 'F', inplace=True)

print(df)

      name  age gender
0    Alice   25      M
1      Bob   30      F
2  Charlie   35      M

# Example 2:
    Replace Multiple Values on a Specific Column
Suppose you have a DataFrame with a column named “grade” that contains the values “A”, “B”, “C”, and “D”.
You want to replace all occurrences of “A” and “B” with “Pass” and all occurrences of “C” and “D” with “Fail”.
Here’s how you can do it:

In [2]:
import pandas as pd

df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David'],
                   'age': [25, 30, 35, 40],
                   'grade': ['A', 'B', 'C', 'D']})

df.replace(['A', 'B'], 'Pass', inplace=True)
df.replace(['C', 'D'], 'Fail', inplace=True)

print(df)

      name  age grade
0    Alice   25  Pass
1      Bob   30  Pass
2  Charlie   35  Fail
3    David   40  Fail

# Example 3: 
    Replace Values on Multiple Columns 
Suppose you have a DataFrame with two columns named “height” and “weight” that 
contain some missing values represented by the string “NaN”. 
You want to replace all occurrences of “NaN” with the mean value of each column. Here’s how you can do it:

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'height': [175, 180, np.nan, 170],
                   'weight': [70, np.nan, 80, 75]})

mean_height = df['height'].mean()
mean_weight = df['weight'].mean()

df.replace({'height': 'NaN', 'weight': 'NaN'},
           {'height': mean_height, 'weight': mean_weight},
           inplace=True)

print(df)

   height  weight
0   175.0    70.0
1   180.0     NaN
2     NaN    80.0
3   170.0    75.0

# Conclusion
In this article, we have shown you how to replace values on specific columns in 
a Pandas DataFrame using the replace method.
The replace method is a powerful tool that can handle various types of replacement
tasks, from simple scalar replacement to complex dictionary replacement. 
We hope this article has been helpful to you, 
and you can now use the replace method to clean and preprocess your data more efficiently.