# How to randomly select rows from Pandas DataFrame

In this artcicle, we are going to see how to randomly select rows from Pandas Dataframe.

Letâ€™s discuss how to randomly select rows from Pandas DataFrame.
A random selection of rows from a DataFrame can be achieved in different ways. 
Create a simple dataframe with dictionary of lists.

In [2]:
# Import pandas package
import pandas as pd
  
# Define a dictionary containing employee data
data = {'Name':['sahlool', 'Ahmed', 'Ali', 'Mohamed', 'Fathy'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select all columns
df

      Name  Age    Address Qualification
0  sahlool   27      Delhi           Msc
1    Ahmed   24     Kanpur            MA
2      Ali   22  Allahabad           MCA
3  Mohamed   32    Kannauj           Phd
4    Fathy   15      Noida          10th

# Select rows from Pandas DataFrame Using sample() method 
Sample method returns a random sample of items from an axis of object and this object of same type as your caller.

In [3]:
# Import pandas package
import pandas as pd
  
# Define a dictionary containing employee data
data = {'Name':['sahlool', 'Ahmed', 'Ali', 'Mohamed', 'Fathy'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
# Select one row randomly using sample()
# without give any parameters
df.sample()

  Name  Age    Address Qualification
2  Ali   22  Allahabad           MCA

In [4]:

# To get 3 random rows
# each time it gives 3 different rows
 
# df.sample(3) or
df.sample(n = 3)

      Name  Age    Address Qualification
0  sahlool   27      Delhi           Msc
1    Ahmed   24     Kanpur            MA
2      Ali   22  Allahabad           MCA

In [6]:
# Fraction of rows
 
# here you get .50 % of the rows
df.sample(frac = 0.5)

      Name  Age Address Qualification
1    Ahmed   24  Kanpur            MA
0  sahlool   27   Delhi           Msc